.idea
.env

### Go ###
# Compiled binary
/guess-the-pass
# Test binary and coverage
*.test
*.out
# Go workspace file
go.work
go.work.sum
# Vendored deps (if `go mod vendor` is used)
/vendor/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
